<%- include("partials/header", { title: "Home Page" }) -%>

          <!-- navbar  -->

<%- include("partials/navbar") -%>
    <!-- navbar  -->
    <!-- body -->
    <div class="container-fluid" >
      <div class="row" >
        <div class="col-md-11 col-11 mx-auto" style="margin-top: 5rem;">
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>
          <h1>FFFFFFFFFFFFFFFFFF</h1>

          <!-- body -->


        </div>
      </div>
    </div>

    <!-- footer -->
    <%- include("partials/footer") -%>
