<body>
  <div class="container-fluid hero-section">
    <div class="row nav-row">
      <div class="col-md-11 col-11 mx-auto">
        <div class="mynavbar" style="position: fixed; width: inherit">
          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="" href="#home"
                ><img
                  src="/images/logo.jpg"
                  style="height: 35px; width: 35px; border-radius: 5rem"
                  alt=""
              /></a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div
                class="collapse navbar-collapse"
                style="justify-content: space-around"
                id="navbarNav"
              >
                <ul class="navbar-nav row">
                  <li class="nav-item col">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item col">
                    <a class="nav-link" href="#">Dashboard</a>
                  </li>
                  <li class="nav-item col">
                    <a class="nav-link" href="/courses">Courses</a>
                  </li>
                  <li class="nav-item col">
                    <a class="nav-link" href="#">Internships</a>
                  </li>
                  <li class="nav-item col">
                    <a class="nav-link" href="#">Contact </a>
                  </li>
                  <li class="nav-item col">
                    <a class="nav-link" href="<%= username ? '/profile' : '/login' %>"><%= username ? username : 'Login' %></a>
                </li>
                <% if (username) { %>
                <li class="nav-item col">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <% } %>
                
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</body>
